.logo{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.logo-slides{
    padding: 50px 0;
    animation: slide 15s infinite linear;
    display: inline-block;
}
.logo-slides img{
    margin: 0 40px;
    width: 180px;
}
.logo::before,.logo::after{
    content: '';
    position: absolute;
    width: 250px;
    height: 100%;
    z-index: 10;
}
.logo::before{
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, rgba(255,255,255,0),white);
}
.logo::after{
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0),#ffffff);
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}